.toppic{
    width: 100%; 
}
.allpic{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.pic{
  margin: 7%;
  max-width: 60%;
}

h1{
  margin: 1%;
}
.textholder{
  display: flex;
  justify-content: center;
  color: rgb(141, 94, 141);
}
p{
  margin: 0 9%;
  font-size: larger;
}

  