* {
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:silver;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;
}

nav > a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    margin: 5% ;
}

.container > div {
 
    margin: 10px 10px;
    font-size: larger;
}
.logo{
    width: 70px;
    height: 70px;
}
.toppic{
    width: 100%;
}
.roompic{
    width: 40%;

}
.roompic2{
    width: 40%;
}
.roomtypeheading{
    display: flex;
    justify-content: center;
    color:  rgb(141, 94, 141);
}
h3{
    color:  rgb(141, 94, 141);
}

